.header img {
  width: 90px;
}
.header {
  display: flex;
  padding: 10px 0;
  color: yellow;
  flex-direction: row;

  border: rgb(66, 35, 35) 2px solid;
  justify-content: space-around;
}
.header h1:hover {
  color: rgb(173, 173, 58);
  transition: 1.5s;
  background: white;
  border-radius: 15px;
  border: coral 1px solid;
}
